/* ==UserStyle==
@name         Itkcss - A!O Dark
@namespace    https://github.com/Itokatsu/itkcss/aidoru-online
@version      1.0.1
@description  Dark Theme for aidoru!online
@author       Itokatsu 
==/UserStyle== */

/* GENERAL STUFF */

@-moz-document regexp("https?://aidoru-online.(org|me)/(?!forum).*") {
    html,
    body {
        background-color: #1d1f21;
        color: antiquewhite;
    }
    a:link,
    a:visited,
    .menu ul li a {
        color: #6D97CF
    }
    a:hover,
    .menu ul li a:hover {
        color: skyblue
    }

    /*BTNS TXTBOX*/
    input,
    select,
    textarea {
        background: #111!important;
        box-shadow: none!important;
        -moz-box-shadow: none!important;
        -webkit-box-shadow: none!important;
        border-color: #444!important;
        color: burlywood!important;
    }

    select[name="incldead"] {
        font-family: verdana, firasans   
    }

    input[type="submit"],
    input[type="reset"] {
        background-color: black!important;
        border-color: black!important;
    }
    input[type="submit"]:hover {
        background-color: goldenrod!important;
        border-color: goldenrod!important;
        color: black!important;
        text-shadow: none!important;
    }
    input[type="reset"] {
        color: crimson!important;
    }
    input[type="reset"]:hover {
        background-color: red!important;
        border-color: red!important;
        color: #CCC!important;
        box-shadow: none!important;
    }

    input[type="file"] {
        background: #282c2f!important;
        border: 1px solid silver!important
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus {
        color: #CCC!important;
        border: 1px solid goldenrod!important;
    }

    /* HEADER */
    .infobar {
        color: silver
    }

    /* NAVIGATION BAR */
    .navigation {
        background: #111
    }

    /* myBlock = SIDEBAR BLOCKS */
    /* myFrame = MAIN BLOCKS */
    #main tr td:first-child .myBlock {
        background-color: #282a2e;
        border-color: #282a2e;
        border: 2px
    }

    .myBlock-caption,
    .myFrame-caption {
        background: #111;
        border-color: #112;
        color: burlywood
    }
    .myBlock-content,
    .myFrame-content,
    .shoutbox_body,
    .shoutbox_messageboxback
    {
        background-color: #282a2e;
        border-color: #282a2e;
        border-top-color: #151515;
        border-bottom-width: 0px
    }
    .myBlock-foot,
    .myFrame-foot {
        display: none;
    }

    /* SHOUTBOX BUTTON FIX */
    td .shoutbox_shoutbtn {
        margin-left: 1em
    }

    /* NAVIGATION SIDEBAR */
    #navigate ul li {
        border-color: silver;
        border-right-color: #282a2e;
        border-left-color: #282a2e;
    }
    #navigate ul li a {
        background: #282a2e;
        border-color: #282a2e;
        color: silver;
    }
    #navigate ul li a:hover {
        background: #445;
        color: skyblue;
    }

    #navigate ul li:first-child {
        border-top-width: 0px
    }
    #navigate ul {
        border-bottom-width: 0px
    }

    /* SEARCH Filters (index page) */
    /* fixing down arrow */
    .select .arr {
        background: #111;
        border-color: burlywood;
        color: burlywood;
    }
    .select .arr:before{
        border-top: 5px solid rgba(222, 184, 135, 0.8);
    }

    /* actual filters */
    p.sub-filters a,
    #search-menu{
        background-color: #444555;
        color: #D2D0D8
    }

    p.sub-filters a:hover {
        background-color: #6D97CF;
        color: white
    }

    p.sub-filters a.selected {
        background-color: #3D91FF;
    }

    /*member search */
    span#wide-searches,
    span#torrent-marker{
        color: #6D97CF                    
    }

    /* TORR TABLES */
    .ttable_head,
    .table_head {
        background: #15181C;
        border-color: #15181C;
        color: burlywood;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none
    }
    .ttable_headinner {
        border: 0px
    }
    .ttable_headinner tbody tr,
    .table_table tr {
        border-top: 1px solid #333;
    }

    .ttable_col1,
    .table_table tr:nth-child(odd) td{
        background: #303236;
        border: 0px
    }
    .ttable_col2,
    .table_table tr:nth-child(even) td{
        background: #303632;
        border: 0px
    }
    .t-row:hover td.ttable_col1,
    .table_table tr:nth-child(odd):hover td{
        background-color: #333C4D;
    }
    .t-row:hover td.ttable_col2,
    .table_table tr:nth-child(even):hover td{
        background-color: #334D3C;
    }

    .t-row {
        color: inherit;
    }
    .t-row font[color="black"] b {
        color: silver
    }

    .ttable_col1:not(.ttable_new1):nth-child(3) a img,
    .ttable_col2:not(.ttable_new2):nth-child(3) a img  {
        filter: brightness(70);
        -moz-filter: brightness(70);
        -webkit-filter: brightness(70%)
    }

    /* fade visited torrent link*/
    .ttable_headinner .t-row a:visited {
        color: #4C6990
    }

    /*torr table pagination*/
    a.category-link,
    a.page-link {
        color: #09A;
    }
    a.category-link:hover,
    a.page-link:hover {
        color: #0AD;
    }
    /* grey out unsuable pagination */
    .ttable_headinner tbody:nth-child(3) p,
    .myFrame-content div p {
        color: cadetblue
    }

    /* icons */
    .ui-icon, .ui-widget-content .ui-iconi, img.ty {
        filter: invert(0.6);
        -webkit-filter: invert(0.6);
    }

    /* TORRENT DETAILS PAGE */
    #downloadbox {
        border: 2px solid #888;
        background: #222;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222), color-stop(50%, #3A3A3A), color-stop(100%, #222));
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .download legend {
        color: black;
    }

    /* COMMENTS */

    .comment {
        background: #22252F;
        border: none;
    }
    .comment-details,
    tr.p-title {
        border: none;
        background: #2A2A2A;
        background-image: none;
    }
    table.f-border, .f-border table {
        border: 1px dotted #777
    }

    .f-border.comment-details a > img {
        filter: invert(1);
    }

    .f-border table tr {
        border-bottom: none;
    }
    tr.p-title th {
        color: silver
    }
    hr {
        border: 0px;
        border-top: 1px dashed #777;
        width: 70%
    }
    /*QUOTE IN COMMENTS*/
    .comment table.main td {
        border: 1px solid #333847!important;
        background: #181a21;
    }

    /* COMMENT TEXTAREA */
    .b-border .b-title,
    .f-cat {
        background: darkgoldenrod;
        color: black;
    }
    .bb-comment,
    .bb-btn{
        background: #282A2E;
        border: none;
    }

    /* ONLINE USERS : restore status colors*/
    li a.uploader {
        color: #D68809
    }
    li a.distributor {
        color: #FF4F4F
    }
    li a.staff {
        color: #cc00cc
    }

    /* SHOUTBOX */
    .shoutbox_body,
    .shoutbox_messageboxback {
        color: silver;
    }
    .shoutbox_alt {
        background-color: #303236;
    }
    .shoutbox_noalt {
        background-color: #303632;
    }
    .alt2 {
        background: inherit;
    }
    .dropzone {
        background: #777;
    }
    .dropzone:hover {
        background: #999;
    }

    /* PROFILE */

    tr.f-title {
        background: #22252F
    }

    /* SEARCH TORRENT PAGE */ 
    p.sub-filters {
        font-size: 0px;
    }
    p.sub-filters a {
        margin-left: 1px
    }

    .logo img {
        filter: invert(0.875) hue-rotate(180deg);
    }

    /* dirty fix */
    #online-count {
        background:inherit!important
    }

    /* alerts */
    .alert-warning {
        background:midnightblue;
        border-color:midnightblue;    
    }
    .close:hover {
        color:cyan;
    }

    /* news tab */

    .myFrame-news .panel, .myFrame-news .panel-info {
        background-color: #444555;
        border-color: #444555;
    }

    .myFrame-news .panel .panel-heading {
        background-color: #1f1f1f;
        border-color: #444555;
    }

    /* torrent buttons */
    .freeleech-box, .tor-button, #ty-button[data-ty="1"]:hover {
        background-color: #444555;
        border-color: #444555;
        color: silver;
    }
    .tor-button a {
        color: #6D97CF;
        text-decoration: underline;
    }
    .tor-button:hover {
        background-color: #374378;
    }
    .tor-button a:hover {
        color: skyblue;
    }
    .thankyou {
        box-shadow: 0px 0px 2px #333;
        border-color: black;
    }
}

@-moz-document url-prefix("https://aidoru-online.(org|me)/login.php") {
    #content {
        background: #282A2E;
        border-color: #777;
    }
    #content h2 {
        background: #111;
    }
    #content .submit {
        background: #202020;
        border-color: #777;
    }

    form .label, .form_container .field {
        border-color: #777;
    }
    p.submit input:hover {
        border-color: goldenrod;
        background: goldenrod;
        color: black;
    }
}
